* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 0.06em;
}
#wrap {
  position: relative;
}
/* header */
.gnb_ex {
  overflow: hidden;
  margin: 0 auto;
  width: 1100px;
  height: 65px;
  padding-top: 15px;
}
.logo {
  float: left;
}
.gnb {
  float: right;
}
.gnb ul {
  font-size: 0;
}
.gnb ul li {
  display: inline-block;
  margin-right: 12px;
  font-size: 14px;
  line-height: 40px;
  color: #333;
}
.gnb ul li:nth-child(1)::after,
.gnb ul li:nth-child(2)::after {
  content: "";
  height: 10px;
  margin-left: 12px;
  border-right: 1px solid #d3d3d3;
}
.gnb ul li a {
  overflow: hidden;
}
.gnb ul li a img {
  display: block;
  float: left;
  margin-top: 10px;
  margin-right: 4px;
}
.gnb ul li a p {
  float: left;
}
.lnb_ex {
  width: 1100px;
  height: 65px;
  margin: 0 auto;
}
.lnb ul {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.lnb ul li {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  color: #333;
}
.lnb ul a:hover li{
  color: #418ade;
}
.lnb ul a:nth-child(5) li {
  color: #418ade;
}
.lnb ul a:hover ~ .sss li {
  color: #333;
}

























/* footer */
.footer_nav {
  margin-top: 200px;
  width: 100%;
  height: 40px;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  background-color: #fcfcfc;
}
.footer_nav nav {
  width: 1100px;
  margin: 0 auto;
}
.footer_nav nav ul {
  display: flex;
  width: 500px;
  margin-left: 270px;
  line-height: 40px;
  justify-content: space-between;
  font-size: 12px;
  color: #333;
}
.footer_area_ex {
  width: 100%;
  height: 180px;
  background-color: #fcfcfc;
}
.footer_area {
  width: 1100px;
  margin: 0 auto;
  display: flex;
}
.footer_logo {
  width: 270px;
  position: relative;
}
.footer_logo img {
  position: absolute;
  top: 30px;
  left: 60px;
}
.footer_txt {
  padding-top: 30px;
}
.footer_txt p {
  font-size: 12px;
  line-height: 20px;
}
.footer_txt div {
  margin-top: 10px;
}
.footer_txt div p {
  color: #ccc;
  font-size: 11px;
}
.footer_txt span {
  font-family: 'Roboto', sans-serif;
}